PORT=8080

# Database (SQL Auth)
DB_SERVER='empaysql-t.database.windows.net'
DB_NAME='sqldb-authenticator-poc'
DB_USER='mbenedict_stardomes.ae#EXT#@EMPAY.onmicrosoft.com'
DB_PASSWORD='D1vinemercy$'

ISSUER_URL=https://idp-kong-gateway-poc-app.jollyforest-2769ae0c.uaenorth.azurecontainerapps.io

# Service Bus (Phase 2)
SB_CONNECTION_STRING='<your_service_bus_connection_string>'
SB_TOPIC_IDP=idp-events-poc

# Storage (Phase 2)
STORAGE_CONNECTION_STRING='<your_storage_account_connection_string>'

# App Insights (Phase 2)
APP_INSIGHTS_CONNECTION_STRING=
